# Primary Author: Joshua Meigs
## Secondary Author/Collaborator: Emma Biggs Lanier

## Manage Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_selection import VarianceThreshold
import sys

In [2]:
sys.version

'3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]'

## Read in Files and Setup dataframe

In [3]:
# read data file
AML_data = pd.read_csv("AML_assay_clinical.csv")
AML_data = AML_data.replace('Unknown', np.float('nan'))
columns = ['TARGET USI','Comment','Refractory Timepoint sent for Induction Failure Project', 'data_type','updated_datetime','file_name', 'submitter_id','file_id',
           'file_size','id','created_datetime','md5sum','data_format','access','state','data_category','type','experimental_strategy',
           'project.project_id','entity_id','case_id','entity_submitter_id', 'entity_type', '__no_feature','__ambiguous','__alignment_not_unique']
AML_data.drop(columns, inplace=True, axis=1)

D:\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
AML_data = AML_data.drop(AML_data.columns[0], axis=1)

## Display the head of the dataframe to display the data

In [5]:
AML_data.head()

,Diagnostic ID,Gender,Race,Ethnicity,Age at Diagnosis in Days,First Event,Event Free Survival Time in Days,Vital Status,Overall Survival Time in Days,Year of Diagnosis,...,ENSG00000281555.1,ENSG00000281571.1,ENSG00000281628.1,ENSG00000281649.1,ENSG00000281691.1,ENSG00000281706.1,ENSG00000281741.1,ENSG00000281789.1,ENSG00000281896.1,ENSG00000281912.1
0,04A,Female,White,Not Hispanic or Latino,2455,Relapse,714,Alive,721,1997,...,-6.927145,-5.407333,-0.130331,5.486997,-0.834782,-1.296158,-5.407333,-0.256885,1.024227,-3.844758
1,04A,Male,White,Not Hispanic or Latino,1159,Relapse,373,Dead,585,1996,...,-3.215621,-0.773714,-1.753588,5.981757,0.545861,-2.077616,-1.572028,-2.077616,2.026762,-2.342754
2,09A,Male,White,Not Hispanic or Latino,1159,Relapse,373,Dead,585,1996,...,-2.279145,1.501164,0.028646,6.877301,1.096532,-2.710611,-1.947448,-1.421239,2.485413,-2.448536
3,09A,Female,NaN,Not Hispanic or Latino,5325,Relapse,314,Dead,536,1996,...,-1.780950,0.132623,-0.682824,5.465605,-0.330849,-1.843229,-0.801464,-0.364707,2.164604,-0.152689
4,04A,Female,NaN,Not Hispanic or Latino,5325,Relapse,314,Dead,536,1996,...,-2.735957,0.002064,-1.534493,4.989745,1.008904,-2.298227,-1.264844,0.362001,2.474975,-1.534493

In [6]:
# show dimensions of AML_data
AML_data.shape

(187, 21465)

## Start process to convert non-numeric data into numeric data

In [7]:
object_data = AML_data.describe(include=['object'])
cols = list(object_data)

In [8]:
for col in cols:
    AML_data[col] = AML_data[col].astype('category').cat.codes
AML_data.head()

,Diagnostic ID,Gender,Race,Ethnicity,Age at Diagnosis in Days,First Event,Event Free Survival Time in Days,Vital Status,Overall Survival Time in Days,Year of Diagnosis,...,ENSG00000281555.1,ENSG00000281571.1,ENSG00000281628.1,ENSG00000281649.1,ENSG00000281691.1,ENSG00000281706.1,ENSG00000281741.1,ENSG00000281789.1,ENSG00000281896.1,ENSG00000281912.1
0,1,0,5,1,2455,3,714,0,721,1997,...,-6.927145,-5.407333,-0.130331,5.486997,-0.834782,-1.296158,-5.407333,-0.256885,1.024227,-3.844758
1,1,1,5,1,1159,3,373,1,585,1996,...,-3.215621,-0.773714,-1.753588,5.981757,0.545861,-2.077616,-1.572028,-2.077616,2.026762,-2.342754
2,2,1,5,1,1159,3,373,1,585,1996,...,-2.279145,1.501164,0.028646,6.877301,1.096532,-2.710611,-1.947448,-1.421239,2.485413,-2.448536
3,2,0,-1,1,5325,3,314,1,536,1996,...,-1.780950,0.132623,-0.682824,5.465605,-0.330849,-1.843229,-0.801464,-0.364707,2.164604,-0.152689
4,1,0,-1,1,5325,3,314,1,536,1996,...,-2.735957,0.002064,-1.534493,4.989745,1.008904,-2.298227,-1.264844,0.362001,2.474975,-1.534493

In [9]:
AML_data.shape

(187, 21465)

## Combine Risk Groups, where the High Risk and Standard are 0, and Low Risk is 1

In [10]:
AML_data['Risk group'] = AML_data['Risk group'].replace(1,0)

In [11]:
AML_data['Risk group'] = AML_data['Risk group'].replace(2,1)

In [12]:
print(AML_data.groupby('Risk group').size())

Risk group
-1    10
 0    84
 1    93
dtype: int64

In [13]:
#Remove "Unknown" rows
AML_data = AML_data[AML_data["Risk group"] != -1]

In [14]:
#Display Risk Groups again
print(AML_data.groupby('Risk group').size())

Risk group
0    84
1    93
dtype: int64

In [15]:
# move Risk Group (the column to be predicted) to be the last column in the data frame
riskGroup_column = AML_data.pop('Risk group')
AML_data['Risk group'] = riskGroup_column

## Replace missing values within the dataframe with -1

In [16]:
#Check if any Values are missing or null
np.any(np.isnan(AML_data))

True

In [17]:
#Replace the missing or null values with -1
AML_data=AML_data.fillna(-1)

In [18]:
#Check if any Values are missing or null once more
np.any(np.isnan(AML_data))

False

## Set up data for Feature Selection and Without Feature Selection

In [19]:
# Convert the dataframe to be numeric
AML_data = AML_data.apply(pd.to_numeric)
# separate out validation data set
AML_array = AML_data.values
#Only look at genes for prediction
X = AML_array[:,60:21464]
Y = AML_array[:,21464]

In [20]:
#The Model that will be used
model = GaussianNB()

## Feature Selection

In [21]:
#create the Variance threshold in which the features will have to meet
varianceThreshold = VarianceThreshold(threshold=(1.5))

In [22]:
#Fit the data and transform based on the variance of the features
featureSelectedX = varianceThreshold.fit_transform(X)

In [23]:
#Display the shape of the transformed dataset
featureSelectedX.shape

(177, 10085)

In [24]:
#Show the original shape of the dataframe
X.shape

(177, 21404)

## Setup prediction for no KFold Cross Validation with feature Selection

In [25]:
# Split the X and Y into train and test sections
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(featureSelectedX, Y, test_size=0.2, random_state=5)

In [26]:
X_train.shape

(141, 10085)

In [27]:
model.fit(X_train, Y_train)
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))
print(classification_report(Y_validation, predictions))

0.9166666666666666
             precision    recall  f1-score   support

        0.0       0.88      0.94      0.91        16
        1.0       0.95      0.90      0.92        20

avg / total       0.92      0.92      0.92        36

## Setup prediction for KFold Cross Validation with feature Selection

In [28]:
predictions = cross_val_predict(model, featureSelectedX, Y, cv=10)
print(accuracy_score(Y, predictions))
print(classification_report(Y, predictions))

0.864406779661017
             precision    recall  f1-score   support

        0.0       0.88      0.82      0.85        84
        1.0       0.85      0.90      0.88        93

avg / total       0.87      0.86      0.86       177

## No Feature Selection

In [29]:
#Split the X and Y into train and test sections
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=0.2, random_state=5)

## Setup prediction for no KFold Cross Validation without feature Selection

In [30]:
model.fit(X_train, Y_train)
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))
print(classification_report(Y_validation, predictions))

0.75
             precision    recall  f1-score   support

        0.0       0.71      0.75      0.73        16
        1.0       0.79      0.75      0.77        20

avg / total       0.75      0.75      0.75        36

## Setup prediction for KFold Cross Validation without feature Selection

In [31]:
predictions = cross_val_predict(model, X, Y, cv=10)
print(accuracy_score(Y, predictions))
print(classification_report(Y, predictions))

0.8248587570621468
             precision    recall  f1-score   support

        0.0       0.85      0.76      0.81        84
        1.0       0.80      0.88      0.84        93

avg / total       0.83      0.82      0.82       177

### Find the Most Variant Genes

In [32]:
colName = list(AML_data)
dataFrameWithOnlyGenes = AML_data
colName = list(AML_data)
#Drop first 60 Columns to find just Genes
for i in range(0,60):
    currName = colName[i]
    dataFrameWithOnlyGenes = dataFrameWithOnlyGenes.drop(columns=[currName], axis = 1)

In [33]:
sortedValues = (dataFrameWithOnlyGenes.var()).sort_values(ascending = False);

## The Highest 10 Variance Genes

In [34]:
for i in range(0,11):
    gene = sortedValues[i:(i+1)].index[0]
    value = sortedValues[i:(i+1)][0]
    print((i+1),". Gene: ",gene,"-- Value: ",value)

1 . Gene:  ENSG00000129824.14 -- Value:  35.01208815792242
2 . Gene:  ENSG00000229807.8 -- Value:  29.539249325504752
3 . Gene:  ENSG00000067048.15 -- Value:  27.57351061822974
4 . Gene:  ENSG00000012817.14 -- Value:  27.33749523133291
5 . Gene:  ENSG00000198692.8 -- Value:  26.089880214096716
6 . Gene:  ENSG00000131002.10 -- Value:  25.71226694976751
7 . Gene:  ENSG00000233864.6 -- Value:  23.61239836920313
8 . Gene:  ENSG00000183878.14 -- Value:  23.609385125834397
9 . Gene:  ENSG00000067646.10 -- Value:  23.419009241725636
10 . Gene:  ENSG00000125869.8 -- Value:  21.79560205718873
11 . Gene:  ENSG00000102854.13 -- Value:  21.78461529394099